/* -------------------------- GENERAL RULES -------------------------- 

Colours: 
Primary color: #330867
Secondary color: #9345f0
Dark text: #333333
Light text: #eeeeee
White text: #ffffff 
Danger Ligh:#ec7919
Danger Reg: #f09244
*/

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 1.6rem;
    line-height: 1.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.row {
    height: auto;
    margin: 0 auto;
    width: 100%;
}

.row.not-full {
    width: 95%;
}

.light-text {
    color: #eee;
}

#main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd069), to(#33086769)), url('/resources/css/img/street.jpg');
    background-image: linear-gradient(to top, #30cfd069 0%, #33086769 100%), url('/resources/css/img/street.jpg');
}

/* -------------------------- COMPONENTS -------------------------- */

.grey-bg {
    background-color: #ccc;
}

#bg-blue {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a56ceb), to(#330867));
}

/* td[value="approved"]{
    background-color: #30cfd069;
    color: #fff;
} */

.good {
    background-color: #30cfd069;
    color: #fff;
}

.matbox {
    -webkit-box-shadow: 0px 15px 22px -13px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 22px -13px rgba(0, 0, 0, 0.4);
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Button Styles */

.btn,
.btn:link,
.btn:visited {
    background-color: #330867;
    color: #eee;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 100px;
    text-decoration: none;
    border: 1px transparent;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    color: #ffffff;
    background-color: #9345f0;
}

.danger,
.danger:link,
.danger:visited,
li>.logout:link,
li>.logout:visited {
    background-color: #f09244;
    border: 1px solid transparent;
}

.danger:hover,
.danger:active,
li>.logout:hover,
li>.logout:active {
    background-color: #e63d00;
    border: 1px solid transparent;
}

#reqList button,
#reqList input[type=radio] {
    margin: 1rem 0px 3rem 1rem;
}

#reqList input[type=radio] {
    margin-right: .5rem;
}

.btn-small {
    font-size: 90%;
    padding: .6rem 1.8rem;
    border-radius: 15px;
}

/* Icon Styles */

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 160%;
    margin-right: 10px;
    /* Line up icons and text */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/* -------------------------- HEADER -------------------------- */

.header {
    margin: 0;
    padding: 0;
}

.header__text-box {
    display: block;
    text-align: center;
}

.header__heading {
    font-size: 6rem;
    font-weight: 300;
    padding: 2rem 0px;
}

.content__heading--secondary,
.form__title {
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

/* -------------------------- SIDE NAV -------------------------- */

.side-nav {
    background-color: #330867;
    height: 100vh;
    width: 15%;
    margin: 0px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sidenav__heading {
    text-align: center;
    padding: 2.62rem 0px;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-size: 120%;
    color: #ffffff;
    margin: 0;
}

.sidenav__group--head {
    font-size: 110%;
    color: #d6b5ff;
    padding: 1rem 2rem;
    /* border-bottom:  solid #eeeeee; */
}

.sidenav__content {
    padding-top: 1rem;
    /* padding-left: 3rem; */
}

.nav>ul {
    list-style-type: disc;
}

.nav>ul>li {
    color: #eee;
}

.navlink:link,
.navlink:visited {
    text-decoration: none;
    display: block;
    padding: 1rem 4rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    color: inherit;
}

.navlink.active,
.navlink:hover,
.navlink:active {
    background-color: #9345f0;
}

/* -------------------------- MAIN CONTENT -------------------------- */

.main-content {
    margin: 0px 0px 0px 15%;
    width: 85%;
    padding: 0px;
}

.main-content .header {
    height: 100%;
    background-color: #eee;
}

.main-content .sidenav__heading {
    color: #330867;
}

/* Style tab links */

.tab {
    margin: 0;
    width: 50%;
}

.tablink {
    background-color: #eee;
    border: 2px solid transparent;
    transition: all .2s ease-in-out;
    outline: none;
    cursor: pointer;
    padding: 1rem 4rem;
    width: 100%;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active,
.tablink:active {
    background-color: #ffffff;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    /* color: white; */
    display: none;
    padding: 100px 20px;
    height: 100%;
}

/* -------------------------- TABLE -------------------------- */

/* .reqtable{
 height: 40px;
    overflow: auto;   
} */

#reqList {
    text-align: center;
}

.reqtable {
    width: 100%;
    background-color: #eee;
    padding: 1.5rem;
    border-radius: .5rem;
    border-spacing: 0px;
}

.reqtable th {
    color: #ffffff;
    background-color: #330867;
    border-width: 0px;
    padding: 1rem;
    margin: 0;
}

.reqtable tr {
    background-color: #ffffff;
}

.reqtable td {
    font-size: 80%;
    border-bottom: solid 1px #ddd;
    padding: 1rem;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.reqtable tr:hover,
.reqtable tr a:hover {
    background-color: #9345f0;
    color: #ffffff;
}

/* -------------------------- FORMS (sepcific) -------------------------- */

.form {
    width: 100%;
    background-color: #ddd;
    color: #333;
    border-radius: .5rem;
    padding: 2rem;
}

textarea {
    resize: none;
}

.main-form,
.grey-bg {
    margin-top: 4rem;
}

input[type=email]:focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=time]:focus,
input[type=password]:focus,
textarea:focus {
    outline: none !important;
    border: 1px solid #9345f0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=time],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 1.2rem;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 1.2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input[type=submit],
input[type=reset] {
    margin-top: 2rem;
    margin-left: 1rem;
    float: right;
}

input[type=reset] {
    transform: translate(0%, 20%);
}

input[type=number] {
    -moz-appearance: textfield;
}

label span {
    font-size: 90%;
    color: #777;
}

/* Radio Button */

.cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px transparent;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
    cursor: pointer;
}

.cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.cbx:checked {
    border-color: transparent;
    background: #330867;
    -webkit-animation: jelly 0.6s ease;
    animation: jelly 0.6s ease;
}

.cbx:checked~.cbx:after {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
}

@-webkit-keyframes jelly {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    30% {
        -webkit-transform: scale(1.25, 0.75);
        transform: scale(1.25, 0.75);
    }
    40% {
        -webkit-transform: scale(0.75, 1.25);
        transform: scale(0.75, 1.25);
    }
    50% {
        -webkit-transform: scale(1.15, 0.85);
        transform: scale(1.15, 0.85);
    }
    65% {
        -webkit-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    75% {
        -webkit-transform: scale(1.05, 0.95);
        transform: scale(1.05, 0.95);
    }
    to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes jelly {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    30% {
        -webkit-transform: scale(1.25, 0.75);
        transform: scale(1.25, 0.75);
    }
    40% {
        -webkit-transform: scale(0.75, 1.25);
        transform: scale(0.75, 1.25);
    }
    50% {
        -webkit-transform: scale(1.15, 0.85);
        transform: scale(1.15, 0.85);
    }
    65% {
        -webkit-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    75% {
        -webkit-transform: scale(1.05, 0.95);
        transform: scale(1.05, 0.95);
    }
    to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}