/* 
---------------------------------------------------------------------
General Rules -------------------------------------------------------
---------------------------------------------------------------------
Colours: 
Primary color: #252933
Secondary color: #409DA6
Light Sec: #93C8C6;
Alt: #909187
Dark text: #252933
Light text: #eeeeee
White text:  #F3F5F4 
Danger Reg: #ec7919
Danger Dark:#e63d00
*/

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: #252933;
    font-size: 1.5rem;
    line-height: 1.6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.row {
    height: auto;
    margin: 0 auto;
    width: 100%;
}

.row.not-full {
    width: 95%;
}

.managetext {
    color: #909187;
}

#main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#409DA669), to(#25293369)), url('./img/street.jpg');
    background-image: linear-gradient(to top, #409DA669 0%, #25293369 100%), url('./img/street.jpg');
    overflow-x: hidden;
}

#main .content__heading--secondary{
    color:#F3F5F4;
}

.grey-bg {
    background-color: #ddd;
}

.light-text{
    color: #F3F5F4;
}

/*
---------------------------------------------------------------------
Components ----------------------------------------------------------
--------------------------------------------------------------------- 
*/
mark{
 background-color: #40739c;
 color: whitesmoke;   
 padding: .2rem .4rem;
}
kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .1em .5em;
    margin: 0 0.2em;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #eeeeee;
    color: #409DA6;
    font-size: smaller;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

a {
    text-decoration: none;
}

/* Button Styles */

.btn,
.btn:link,
.btn:visited {
    background-color: #252933;
    color: #eee;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 1rem 3rem;
    border-radius: .4rem;
    text-decoration: none;
    border: 1px transparent;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    color: #F3F5F4;
    background-color: #409DA6;
}

.btn-small,
.ptable .opt {
    font-size: small;
    padding: .6rem 1.8rem;
    border-radius: .4rem;
}

.danger,
.danger:link,
.danger:visited,
li>.logout:link,
li>.logout:visited {
    background-color: #ec7919;
    border: 1px solid transparent;
}

.danger:hover,
.danger:active,
li>.logout:hover,
li>.logout:active {
    background-color: #e63d00;
    border: 1px solid transparent;
}

.ptable .opt,
.ptable .opt:link,
.ptable .opt:visited {
    background-color: transparent;
    color: #252933;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: .6rem;
}

.ptable .opt:hover,
.ptable .opt:active {
    background-color: #4064a6;
    color: #F3F5F4;
}

.btn-reset,
.btn-reset:link,
.btn-reset:visited {
    background-color: transparent;
    border: 2px solid #ec7919;
    color: #ec7919;
}

.btn-reset:hover,
.btn-reset:active {
    background-color: #e63d00;
    border: 2px solid #e63d00;
    color: #F3F5F4;
}

/* Icon Styles */

.icon-small {
    display: inline-block;
    width: 2.5rem;
    text-align: center;
    font-size: 140%;
    margin-right: 0.2rem;
    /* Line up icons and text */
    line-height: 120%;
    vertical-align: middle;
    /* margin-top: px; */
}

/*
---------------------------------------------------------------------
Header --------------------------------------------------------------
--------------------------------------------------------------------- 
*/

.header {
    margin: 0;
    padding: 0;
}

.header__text-box {
    display: block;
    text-align: center;
}

.header__heading {
    font-size: 6rem;
    font-weight: 300;
    color: #F3F5F4;
}

.content__heading--secondary {
    padding: 2rem 0px;
    font-size: 3rem;
    font-weight: 400;
    text-align: left;
    margin-left: 2rem;
}

.managetext {
    color: #909187;
}

/*
---------------------------------------------------------------------
Side Nav ------------------------------------------------------------
--------------------------------------------------------------------- 
*/

.side-nav {
    background-color: #252933;
    height: 100vh;
    width: 15%;
    margin: 0px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.signed{
    text-align: center;
    color: #99a4c0;
    padding: .2rem;
    font-size: smaller;
}

.signed span{
    color: rgb(119, 163, 42);
    margin-right: .4rem;
}
.sidenav__heading {
    text-align: center;
    padding: 2.62rem 0 1rem 0;
    font-weight: 700;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-size: 140%;
    color: #F3F5F4;
    margin: 0;
}

.sidenav__group--head {
    font-size: 110%;
    color: #909187;
    padding: 1rem 2rem;
}

.sidenav__content {
    padding-top: 2rem;
}

.nav>ul {
    list-style-type: disc;
}

.nav>ul>li {
    color: #eee;
}

.navlink:link,
.navlink:visited {
    text-decoration: none;
    display: block;
    padding: 1rem 4rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: inherit;
}

.navlink.active,
.navlink:hover,
.navlink:active {
    background-color: #409DA6;
}

/*
---------------------------------------------------------------------
Main Content --------------------------------------------------------
--------------------------------------------------------------------- 
*/

.main-content {
    margin: 0px 0px 0px 15%;
    width: 85%;
    padding: 0px;
}

.main-content .header {
    height: 100%;
    background-color: #eee;
}

/* Style tab links */

.tab {
    margin: 0;
    width: 50%;
}

.tablink {
    background-color: #F3F5F4;
    border: 0px solid transparent;
    border-top: 4px solid #F3F5F4;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: none;
    cursor: pointer;
    padding: 1rem 3rem;
    width: 100%;
}

.tablink:hover,
.tablink:focus,
.tablink:active {
    background-color: #ddd;
    border-top: 4px solid #409DA6;
}

/* Style the tab content (and add height:100% for full page content) */

.tab_content {
    padding: 2rem;
    height: 100%;
}

.tab {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    color: #888;
    -webkit-font-smoothing: antialiased;
}

.tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.tabs li {
    float: left;
    line-height: 3.8rem;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.tabs a {
    background-color: #F3F5F4;
    border-bottom: 1px solid #fff;
    color: #888;
    display: block;
    padding: 0 10rem;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #409DA6;
}

.tabs_item {
    display: none;
    padding: 3rem 0;
}

.tabs_item:first-child {
    display: block;
}

.current a {
    color: #fff;
    background: #409DA6;
}

/*
---------------------------------------------------------------------
Table Specific ------------------------------------------------------
--------------------------------------------------------------------- 
*/

tbody {
    font-size: smaller;
    color: #4d515a;
}
tr:nth-of-type(even) {
    background-color:#eeeeee;
  } 
tr:nth-of-type(odd) {
    background-color:#ddd;
  } 
.hint {
    background-color: #72a1c7;
    margin-bottom: 2rem;
    font-size-adjust: 0.5;
    color: #F3F5F4;
    padding: 2rem;
    border-radius: .4rem;
}

.ptable {
    width: 100%;
    border-spacing: 0;
}

.ptable th {
    color: #F3F5F4;
    background-color: #409DA6;
    padding: 1rem;
    /* font-size: 90%; */
}


table td {
    /* border-bottom: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7; */
    padding: 1rem 0;
    margin: 0;
    border-width: 0px;
    text-align: center;
}


/*
---------------------------------------------------------------------
Form Specific -------------------------------------------------------
--------------------------------------------------------------------- 
*/

.form {
    background-color: whitesmoke;
    color: #252933;
    border-radius: .6rem;
    padding: 2rem;
    margin: 0 auto;
}
.form h2{
    margin-left: 0;
}
.form__hidden{
    display: none;
}
.newform {
    width: 90%;
}

.in_form {
    margin-right: 4rem;
}
.form__msg{
    margin-top: .6rem;
    padding: .4rem;
    border-radius: .4rem;
    text-align: center;
    font-size: smaller;
    min-width: 30rem;
    max-width: 40rem;
}

.form__msg--error{
    background-color: #e63d00;
    color: #F3F5F4;
}
textarea {
    resize: none;
}

input[type=email]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=color]:focus,
input[type=time]:focus,
input[type=password]:focus,
textarea:focus {
    outline: none !important;
    border: 1px solid #666;
}

input[type=text],
input[type=search],
input[type=email],
input[type=password],
input[type=number],
input[type=tel],
input[type=color],
input[type=time],
input[type=date],
textarea {
    padding: 1.2rem 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: text-top;
    margin-bottom: 2rem;
}

input[type=email],
input[type=password]{
    width: 100%;
}

input[type=text]{
    width: 20rem;
}

.row__sub{
    margin-top: 1rem;
}

textarea{
    width: 25rem;
}

input[type=search] {
    float: right;
}

.form__btn--group {
    display: block;
}

input[type=submit] {
    float: right;
    margin-left: 2rem;
}

input[type=reset] {
    float: right;
    margin-left: 2rem;
    -webkit-transform: translate(0%, 10%);
    transform: translate(0%, 10%);
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

label {
    font-weight: 700;
    display: block;
}

.radio-group label{
    display: inline-block;
    font-weight: 400;
    margin-right: .4rem;
}

.radio-group input{
    margin-right: 2rem;
}


label:hover {
    cursor: pointer;
}

label span {
    font-size: small;
    color: #888888;
    font-weight: 400;
}
.ptable .selectric{
    width: 10rem;
}

.newform .selectric {
    width: 20rem;
}
.long-opt .selectric{
    width: 30rem;
}
.selectric-items { top: auto; bottom: 100%; }
.selectric-wrapper,
.in_form {
    display: inline-block;
}

.comment{
    margin-top: 2rem;
}